{% if q.has_previous %}

        <a class="btn btn-outline-info mb-4" href="?page=1{% if request.GET.searchquery %}&searchquery={{ request.GET.searchquery }}{% endif %}">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ q.previous_page_number }}{% if request.GET.searchquery %}&searchquery={{ request.GET.searchquery }}{% endif %}">Previous</a>
{% endif %}
{% for num in q.paginator.page_range %}
        {% if q.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}{% if request.GET.searchquery %}&searchquery={{ request.GET.searchquery }}{% endif %}">{{ num }}</a>
        {% elif num > q.number|add:'-3' and num < q.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}{% if request.GET.searchquery %}&searchquery={{ request.GET.searchquery }}{% endif %}">{{ num }}</a>
        {% endif %}
{% endfor %}
{% if q.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ q.next_page_number }}{% if request.GET.searchquery %}&searchquery={{ request.GET.searchquery }}{% endif %}">next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ q.paginator.num_pages }}{% if request.GET.searchquery %}&searchquery={{ request.GET.searchquery }}{% endif %}">Last</a>
{% endif %}
