<!--<% load static %>-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>GeekHub</title>-->
<!--    <meta name="keywords" content="HTML5 Template">-->
<!--    <meta name="description" content="Forum - Responsive HTML5 Template">-->
<!--    <meta name="author" content="Forum">-->
<!--    <link rel="shortcut icon" href="favicon/favicon.ico">-->
<!--    <meta name="format-detection" content="telephone=no">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="css/style.css">-->
<!--    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" media="screen, projection" />-->

<!--<body>-->
<!--&lt;!&ndash; tt-mobile menu &ndash;&gt;-->
<!--<nav class="panel-menu" id="mobile-menu">-->
<!--    <ul>-->

<!--    </ul>-->
<!--    <div class="mm-navbtn-names">-->
<!--        <div class="mm-closebtn">-->
<!--            Close-->
<!--            <div class="tt-icon">-->
<!--                <svg>-->
<!--                  <use xlink:href="#icon-cancel"></use>-->
<!--                </svg>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="mm-backbtn">Back</div>-->
<!--    </div>-->
<!--</nav>-->
<!--<header id="tt-header">-->
<!--    <div class="container">-->
<!--        <div class="row tt-row no-gutters">-->
<!--            <div class="col-auto">-->
<!--                &lt;!&ndash; toggle mobile menu &ndash;&gt;-->
<!--                <a class="toggle-mobile-menu" href="#">-->
<!--                    <svg class="tt-icon">-->
<!--                      <use xlink:href="#icon-menu_icon"></use>-->
<!--                    </svg>-->
<!--                </a>-->
<!--                &lt;!&ndash; /toggle mobile menu &ndash;&gt;-->
<!--                &lt;!&ndash; logo &ndash;&gt;-->
<!--                <div class="tt-logo">-->
<!--                    <a href="index.html"><img src="img/geekhub.png" alt=""></a>-->
<!--                </div>-->
<!--                &lt;!&ndash; /logo &ndash;&gt;-->
<!--                &lt;!&ndash; desctop menu &ndash;&gt;-->
<!--                <div class="tt-desktop-menu">-->
<!--                    <nav>-->
<!--                        <ul>-->
<!--                            <li><a href="{% url 'forum' %}"><span>Home</span></a></li>-->
<!--                            <li><a href="{% url 'myposts' %}"><span>Posts</span></a></li>-->
<!--                            <li><a href="#"><span>Library</span></a></li>-->
<!--                            <li>-->
<!--                                <a><span style="font-weight: bolder;">More</span></a>-->
<!--                                <ul style="font-weight: 450;">-->
<!--                                    <li><a href="index.html">About Us</a></li>-->
<!--                                    <li><a href="faq">FAQ</a></li>-->
<!--                                    <li style="font-weight: bolder;"><a href="{% url 'logout' %}">Logout</a></li>-->
<!--                                   -->
<!--                                   -->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--                &lt;!&ndash; /desctop menu &ndash;&gt;-->
<!--                &lt;!&ndash; tt-search &ndash;&gt;-->
<!--                <div class="tt-search">-->
<!--                    &lt;!&ndash; toggle &ndash;&gt;-->
<!--                    <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">-->
<!--                       <svg class="tt-icon">-->
<!--                          <use xlink:href="#icon-search"></use>-->
<!--                        </svg>-->
<!--                    </button>-->
<!--                    &lt;!&ndash; /toggle &ndash;&gt;-->
<!--                    <form class="search-wrapper">-->
<!--                        <div class="search-form">-->
<!--                            <input type="text" class="tt-search__input" placeholder="Search">-->
<!--                            <button class="tt-search__btn" type="submit">-->
<!--                               <svg class="tt-icon">-->
<!--                                  <use xlink:href="#icon-search"></use>-->
<!--                                </svg>-->
<!--                            </button>-->
<!--                             <button class="tt-search__close">-->
<!--                               <svg class="tt-icon">-->
<!--                                  <use xlink:href="#cancel"></use>-->
<!--                                </svg>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="search-results">-->
<!--                            <button type="button" class="tt-view-all" data-toggle="modal" data-target="#modalAdvancedSearch">Advanced Search</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                &lt;!&ndash; /tt-search &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-auto ml-auto">-->
<!--                 <div class="tt-user-info d-flex justify-content-center">-->
<!--                    <a href="#" class="tt-btn-icon">-->
<!--                         <i class="tt-icon"><svg><use xlink:href="#icon-notification"></use></svg></i>-->
<!--                    </a>-->
<!--                    <div class="userinfo pull-left">-->
<!--                        <div class="avatar">-->
<!--                           <a href="" ><img src="{{ user.profile.user_image.url }}" alt="" style="width: 40px;height: 40px;" />-->
<!--                            </a>-->
<!--                        </div>-->
<!--    -->
<!--                        -->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->

<!--&lt;!&ndash; add new topic &ndash;&gt;-->
<!--<a href="{% url 'newquestion' %}" class="tt-btn-create-topic">-->
<!--    <span class="tt-icon">-->
<!--        <svg>-->
<!--          <use xlink:href="#icon-create_new"></use>-->
<!--        </svg>-->
<!--    </span>-->
<!--</a>-->
<!--&lt;!&ndash; main body part  &ndash;&gt;-->

<!--&lt;!&ndash; advance search &ndash;&gt;-->
<!--<div class="modal fade" id="modalAdvancedSearch" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">-->
<!--	<div class="modal-dialog modal-sm">-->
<!--		<div class="modal-content">-->
<!--			<div class="tt-modal-advancedSearch">-->
<!--				<div class="tt-modal-title">-->
<!--					<i class="pt-icon">-->
<!--						<svg>-->
<!--							<use xlink:href="#icon-advanced_search"></use>-->
<!--						</svg>-->
<!--					</i>-->
<!--					Advanced Search-->
<!--					<a class="pt-close-modal" href="#" data-dismiss="modal">-->
<!--						<svg class="icon">-->
<!--							<use xlink:href="#icon-cancel"></use>-->
<!--						</svg>-->
<!--					</a>-->
<!--				</div>-->
<!--				<form class="form-default">-->
<!--					<div class="form-group">-->
<!--						<i class="pt-customInputIcon">-->
<!--                           <svg class="tt-icon">-->
<!--                              <use xlink:href="#icon-search"></use>-->
<!--                            </svg>-->
<!--                        </i>-->
<!--						<input type="text" name="name" class="form-control pt-customInputSearch" id="searchForum" placeholder="Search all forums">-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<label for="searchName">Posted by</label>-->
<!--						<input type="text" name="name" class="form-control" id="searchName" placeholder="Username">-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<label for="searchCategory">Subject</label>-->
<!--						<input type="text" name="name" class="form-control" id="searchSubject" placeholder="Add Subject">-->
<!--					</div>-->
<!--					&lt;!&ndash; <div class="checkbox-group">-->
<!--				        <input type="checkbox" id="searcCheckBox01" name="checkbox">-->
<!--				        <label for="searcCheckBox01">-->
<!--				            <span class="check"></span>-->
<!--				            <span class="box"></span>-->
<!--				            <span class="tt-text">Include all tags</span>-->
<!--				        </label>-->
<!--				    </div>-->
<!--					<div class="form-group">-->
<!--						<label>Only return topics/posts that...</label>-->
<!--						<div class="checkbox-group">-->
<!--					        <input type="checkbox" id="searcCheckBox02" name="checkbox">-->
<!--					        <label for="searcCheckBox02">-->
<!--					            <span class="check"></span>-->
<!--					            <span class="box"></span>-->
<!--					            <span class="tt-text">I liked</span>-->
<!--					        </label>-->
<!--					    </div>-->
<!--					    <div class="checkbox-group">-->
<!--					        <input type="checkbox" id="searcCheckBox03" name="checkbox">-->
<!--					        <label for="searcCheckBox03">-->
<!--					            <span class="check"></span>-->
<!--					            <span class="box"></span>-->
<!--					            <span class="tt-text">are in my messages</span>-->
<!--					        </label>-->
<!--					    </div>-->
<!--					    <div class="checkbox-group">-->
<!--					        <input type="checkbox" id="searcCheckBox04" name="checkbox">-->
<!--					        <label for="searcCheckBox04">-->
<!--					            <span class="check"></span>-->
<!--					            <span class="box"></span>-->
<!--					            <span class="tt-text">I’ve read</span>-->
<!--					        </label>-->
<!--					    </div>-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<select class="form-control" id="searchTop">-->
<!--							<option>any</option>-->
<!--							<option>value 01</option>-->
<!--							<option>value 02</option>-->
<!--							<option>value 03</option>-->
<!--						</select>-->
<!--					</div> &ndash;&gt;-->
<!--					<div class="form-group">-->
<!--                        <label for="searchaTopics">Semester</label>-->
<!--						<select class="form-control" id="searchSemester">-->
<!--                            -->
<!--							<option>any</option>-->
<!--							<option>Semester I</option>-->
<!--							<option>Semester II</option>-->
<!--                            <option>Semester III</option>-->
<!--                            <option>Semester IV</option>-->
<!--                            <option>Semester V</option>-->
<!--                            <option>Semester VI</option>-->
<!--                            <option>Semester VII</option>-->
<!--							<option>Semester VIII</option>-->

<!--                        </select>-->
<!--                    -->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<label for="searchAdvTime">Posted</label>-->
<!--						<div class="row">-->
<!--							<div class="col-6">-->
<!--								<select class="form-control">-->
<!--									<option>any</option>-->
<!--									<option>value 01</option>-->
<!--									<option>value 02</option>-->
<!--									<option>value 03</option>-->
<!--								</select>-->
<!--							</div>-->
<!--							<div class="col-6">-->
<!--								<input type="text" name="name" class="form-control" id="searchAdvTime" placeholder="dd-mm-yyyy">-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<a href="#" class="btn btn-secondary btn-block">Search</a>-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--{% include "forum/jsfrontend.html" %}-->
<!--{% block content %}-->

<!--{% endblock %}-->

<!--</body>-->
<!--</html>-->
{% extends "forum/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Topic</title>
 <link rel="icon" type="image/png" href="{% static 'img/geekhub.png' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" type="text/css" media="screen, projection" />
  <link href="{% static 'css/colours.css' %}" rel="stylesheet" type="text/css" media="screen, projection" />

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    .brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    }
    .centerlog {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    }
  </style>
</head>
<body>
<!--<br>-->
<!--     <div id="wrap-subhead" style="margin-bottom: 25px">-->
<!--            <div class="chunk">-->
<!--                <div id="subhead-title">-->
<!--                    <h4 class="forum-title">Nav Sace</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--      <div id="wrap-subhead" style="margin-bottom: 25px">-->
<!--      <div id="wrap-body">-->
<!--		<div class="chunk-main" >-->
<!--           <div id="wrap-subhead" style="margin-bottom: 25px">-->
<!--            <div class="chunk">-->
<!--                <div id="subhead-title">-->
<!--                    <h4 class="forum-title">Edit your profile here!!</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        </div>-->
<!--      </div>-->


<!--<div class="post">-->
<!--    <div class="container">-->
<!--    <form action="" class="form newtopic" method="POST" enctype="multipart/form-data" id="At">-->

<!--            {% csrf_token %}-->



<!--              <div class="form-editprof">-->
<!--                <div class="row-form">-->
<!--                    <label for="username"><b>Username</b></label>-->
<!--                           {{ u_form.username }}-->
<!--                </div>-->
<!--                 <div class="row-form">-->
<!--                     <label for="email"><b>Email</b></label>-->
<!--                            {{ u_form.email }}-->
<!--                </div>-->
<!--                   <div class="row-form">-->
<!--                     <label for="email"><b>semester</b></label>-->
<!--                            {{ p_form.semester }}-->
<!--                </div>-->
<!--                   <div class="row-form">-->
<!--                     <label for="email"><b>date_of_birth</b></label>-->
<!--                            {{ p_form.date_of_birth}}-->
<!--                </div>-->

<!--                   <div class="row-form">-->
<!--                     <label for="email"><b>College</b></label>-->
<!--                            {{ p_form.college}}-->
<!--                </div>-->
<!--                   <div class="row-form">-->
<!--                     <label for="email"><b>Contact number</b></label>-->
<!--                            {{ p_form.contact_number}}-->
<!--                </div>-->
<!--                   <div class="row-form">-->
<!--                     <label for="email"><b>Image</b></label>-->
<!--                            {{ p_form.user_image}}-->
<!--                </div>-->
<!--&lt;!&ndash;                <a href="{% url 'profile' %}">&ndash;&gt;-->
<!--        <button type="submit" class="button font-icon" style="width:20%;center: 21%;" onClick="location.href='{% url 'profile' %}'">Update</button>-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                onClick="location.href='https://www.google.com'">Update</button>&ndash;&gt;-->

<!--    </form>-->

<!--</div>-->
<br>
     <div id="wrap-subhead" style="margin-bottom: 25px">
            <div class="chunk">
                <div id="subhead-title">
                    <h4 class="forum-title">Nav Sace</h4>
                </div>
            </div>
      <div id="wrap-subhead" style="margin-bottom: 25px">
      <div id="wrap-body">
		<div class="chunk-main" >
           <div id="wrap-subhead" style="margin-bottom: 25px">
            <div class="chunk">
                <div id="subhead-title">
                    <h4 class="forum-title">Your Geekhub Profile</h4>
                </div>
            </div>
        </div>
        </div>
      </div>
        </div>
<div class="col-xl-12">
    <div class="container">
        <div class="bg-light d-flex justify-content-between">
        <div class="profile-avatar-img" >
            <img src="{{ user.profile.user_image.url }}" alt="User Name" style="width: 100%"><hr>

            </p>
        </div>


    <form action="" class="form newtopic" method="POST" enctype="multipart/form-data" id="At">

            {% csrf_token %}



              <div class="form-editprof">
                <div class="row-form">
                    <label for="username"><b>Username</b></label>
                           {{ u_form.username }}
                </div>
                 <div class="row-form">
                     <label for="email"><b>Email</b></label>
                            {{ u_form.email }}
                </div>
                   <div class="row-form">
                     <label for="email"><b>semester</b></label>
                            {{ p_form.semester }}
                </div>
                   <div class="row-form">
                     <label for="email"><b>date_of_birth</b></label>
                            {{ p_form.date_of_birth}}
                </div>

                   <div class="row-form">
                     <label for="email"><b>College</b></label>
                            {{ p_form.college}}
                </div>
                   <div class="row-form">
                     <label for="email"><b>Contact number</b></label>
                            {{ p_form.contact_number}}
                </div>
                   <div class="row-form">
                     <label for="email"><b>Image</b></label>
                            {{ p_form.user_image}}
                </div>
<!--                <a href="{% url 'profile' %}">-->
        <button type="submit" class="button font-icon" style="width:20%;center: 21%;" onClick="location.href='{% url 'profile' %}'">Update</button>
<!--                </a>-->
<!--                onClick="location.href='https://www.google.com'">Update</button>-->

    </form>
        </div>
        <br>
    </div>
   </div>
</div>{% endblock content %}

</body>
</html>

<!--<body>-->



<!--<div class="container">-->
<!--    <form action="{% url 'profile' %}" class="form newtopic" method="post" id="At">-->
<!--          {% csrf_token %}-->
<!--        <div class="form-editprof">-->
<!--                <div class="row-form">-->
<!--                    {{ u_form.username }}-->
<!--                </div>-->
<!--                 <div class="row-form">-->
<!--                    {{ u_form.email }}-->
<!--                </div>-->
<!--                <div class="row-form">-->
<!--                    {{ p_form.semester }}-->
<!--                </div>-->
<!--                <div class="row-form">-->
<!--                    {{ p_form.date_of_birth}}-->
<!--                </div>-->
<!--                <div class="row-form" id="">-->
<!--                    {{ p_form.college}}-->
<!--                </div>-->
<!--                <div class="row-form">-->

<!--                    {{ p_form.contact_number}}-->


<!--                </div>-->
<!--       <div class="row">-->
<!--                  {{ p_form.user_image}}-->
<!--       </div>-->


<!--              <p style="text-align: center">-->
<!--                <button type="submit" class="button font-icon" style="width:40%;left: 27%;" onClick="location.href='{% url 'profile' %}'">Update</button>-->
<!--                </a>-->
<!--              </p>-->
<!--            </div>-->
<!--                </form>-->
<!--    <script src="{% static 'js/bundle.js'%}"></script>-->


<!--</body>-->
<!--</html>-->