{% extends 'user/first_base.html' %}
{% block content %}
{% load static %}
           {% for field in form %}
              {% for error in field.errors %}
                    <P>{{error}}</P>
                {% endfor %}
            {% endfor %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cred/style.css' %}">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" >change Password</legend>
          <label for="old password"><b>old password</b></label>
                {{ form.old_password}}
                <label for="new password"><b>new password</b></label>
                {{ form.new_password1}}
                <label for="new password"><b>repeat new password</b></label>

                {{ form.new_password2}}
            </fieldset>

            <div class="form-group">
                   <button type="submit" class="Send E-mail"
        style="margin-left: auto;margin-right: auto;width: 100%;display:block;top:0%;margin-bottom:0%">reset</button>
            </div>


        </form>
    </div>
{% endblock content %}