{% extends 'user/first_base.html' %}
{% load crispy_forms_tags %}
{%block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cred/style.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/cred/style.css' %}">-->
  <form method="POST">
       {% csrf_token %}
       {{ form.email|as_crispy_field }}
        <button type="submit" class="Send E-mail" style="margin-left: auto;margin-right: auto;width: 100%;display:block;top:0%;margin-bottom:0%">Send E-mail</button>
        <button type="button" onClick="location.href='{% url 'open_page' %}'"  class="cancelbtn" style="margin-right: auto;margin-left: auto;width: 100%;display:block;top:0%;margin-bottom:0%">Cancel</button>

      </div>

  </form>
{% endblock%}

